@model scorpioweb.Models.Proceso

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Proceso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CausaPenal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CausaPenal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coimputados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coimputados)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoimputadosSupervision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoimputadosSupervision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoCoimputadosSupervision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoCoimputadosSupervision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelacionSupervisado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelacionSupervisado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelacionLugar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelacionLugar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EspecificaRelacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecificaRelacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EspecificaFuncionario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecificaFuncionario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
