@model scorpioweb.Models.Firmas

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/js/scripts.js")"></script>
}

<h2 id="titulo">Control de Firmas</h2>

<hr />
<div class="row" id="QRForm">
    <div class="col-md-4">
        <form method="post" name="QRForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" value="@ViewBag.nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="Sexo" class="control-label"></label>
            @Html.DropDownListFor(m => m.Sexo, (SelectList)ViewBag.genero, new { @class = "form-control"})
            <span asp-validation-for="Sexo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Libro" class="control-label"></label>
            @Html.DropDownListFor(m => m.Libro, (SelectList)ViewBag.libros, new { @class = "form-control" })
            <span asp-validation-for="Libro" class="text-danger"></span>
        </div>

            <div class="form-group">
                @if (@ViewBag.nombre == null)
                {
                    <input type="submit" value="Crear QR" class="btn btn-success" asp-action="GeneraQR" />
                }
                else
                {
                    <input type="submit" value="Guardar" class="btn btn-danger" id="btnGuardar" asp-action="Create" />
                }                
            </div>
        </form>
    </div>
</div>

<div class="contenedor">
    <div id="imprimirQR">
        @if (@ViewBag.nombre != null)
        {
            <qrcode content="@ViewBag.nombre" width="200" height="200" id="qr" />
            <h2 value="@ViewBag.code">@ViewBag.code</h2>
        }

        <div id="impresionLogo">
            <img src="~/images/logo.png" />
        </div>
    </div>

</div>

<div id="confirmDialog" title="Save Student" hidden>
    <p>Do you want to save changes </p>
</div>