@*<script src="/lib/jquery/dist/jquery.js"></script>*@

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {

        //#region -Municipios-
        var items = "<option value='0'>Selecciona</option>";
        $('#lnMunicipio').html(items);
        $('#municipioD').html(items);

        $('#lnEstado').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#lnEstado';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#lnMunicipio").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#lnMunicipio').html(items);
            });
        });
        $('#lnPais').change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                $("#lnEstado").val(0);
                var items = "<option value='0'>Selecciona</option>";
                $('#lnMunicipio').html(items);
                $("#lnMunicipio").val(0);
                $("#Estado").css("display", "none");
                $("#Municipio").css("display", "none");
                $("#Pais, #Localidad").removeClass("col-md-3");
                $("#Pais, #Localidad").addClass("col-md-6");
            }
            else {
                $("#Estado").css("display", "block");
                $("#Municipio").css("display", "block");
                $("#Pais, #Localidad").removeClass("col-md-6");
                $("#Pais, #Localidad").addClass("col-md-3");
            }

        });

        /*Combobox Domicilio*/
        $('#estadoD').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#estadoD';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#municipioD").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#municipioD').html(items);
            });
        });
        $('#paisD').change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                 $("#estadoD").val(0);
                var items = "<option value='0'>Selecciona</option>";
                $('#municipioD').html(items);
                $("#municipioD").val(0);
                $("#EstadoD").css("display", "none");
                $("#MunicipioD").css("display", "none");
                $("#PaisD").removeClass("col-md-4");
                $("#PaisD").addClass("col-md-12");
            }
            else {
                $("#EstadoD").css("display", "block");
                $("#MunicipioD").css("display", "block");
                $("#PaisD").removeClass("col-md-12");
                $("#PaisD").addClass("col-md-4");
            }

        });

        /*Combobox Domicilio Secundario*/
        $('#estadoDDS').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#estadoDDS';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#municipioDDS").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#municipioDDS').html(items);
            });
        });
        $('#paisDDS').change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                 $("#estadoDDS").val(0);
                var items = "<option value='0'>Selecciona</option>";
                $('#municipioDDS').html(items);
                $("#municipioDDS").val(0);
                $("#EstadoDDS").css("display", "none");
                $("#MunicipioDDS").css("display", "none");
                $("#PaisDDS").removeClass("col-md-4");
                $("#PaisDDS").addClass("col-md-12");
            }
            else {
                $("#EstadoDDS").css("display", "block");
                $("#MunicipioDDS").css("display", "block");
                $("#PaisDDS").removeClass("col-md-12");
                $("#PaisDDS").addClass("col-md-4");
            }

        });
        //#endregion

        //#region -Modales-
        $("#cuentaDomicilioSecundario").change(function () {
            var opcion = $(this).children("option:selected").val();
            //alert("opcion: "+opcion);
            if (opcion == "SI") {
                $('#modalDomicilioSecundario').modal('show')
            }
            else {
                $('#modalDomicilioSecundario').modal('hidden')
            }
        });

        $("#consumoSustancias").change(function () {
            var opcion = $(this).children("option:selected").val();
            //alert("opcion: "+opcion);
            if (opcion == "Si") {
                $('#modalConsumoSustancias').modal('show')
            }
            else {
                $('#modalConsumoSustancias').modal('hidden')
            }
        });

        $("#AsientoFamiliar").change(function () {
            var opcion = $(this).children("option:selected").val();
            document.getElementById("textoAFR").innerHTML = "Asiento Familiar";
            if (opcion == "Si") {
                tipo = 1;
                $('#modalAsientoFamiliar').modal('show')
            }
            else {
                tipo = 0;
                $('#modalAsientoFamiliar').modal('hidden')
            }
        });
        $("#ReferenciasPersonales").change(function () {
            var opcion = $(this).children("option:selected").val();
            document.getElementById("textoAFR").innerHTML = "Referencia";
            if (opcion == "Si") {
                tipo = 2;
                $('#modalAsientoFamiliar').modal('show')
            }
            else {
                tipo = 0;
                $('#modalAsientoFamiliar').modal('hidden')
            }
        });


        $("#familiaresFuera").change(function () {
            var opcion = $(this).children("option:selected").val();
            if (opcion == "SI") {
                $('#modalFamiliaresExtranjero').modal('show')
            }
            else {
                $('#modalFamiliaresExtranjero').modal('hidden')
            }
        });

        //#endregion

        //#region -changeDisplay-
        $('#vividoFuera').change(function () {
            var vivido = $(this).children("option:selected").val();
            if (vivido == "SI") {
                $("#lugaresVivido").css("display", "block");
                $("#tiempoVivido").css("display", "block");
                $("#motivoVivido").css("display", "block");
            }
            else {
                $("#lugaresVivido").css("display", "none");
                $("#tiempoVivido").css("display", "none");
                $("#motivoVivido").css("display", "none");
            }

        });

        $('#viajaHabitual').change(function () {
            var viaje = $(this).children("option:selected").val();
            if (viaje == "SI") {
                $("#lugaresViaje").css("display", "block");
                $("#tiempoViaje").css("display", "block");
                $("#motivoViaje").css("display", "block");
            }
            else {
                $("#lugaresViaje").css("display", "none");
                $("#tiempoViaje").css("display", "none");
                $("#motivoViaje").css("display", "none");
            }

        });

        $('#documentacionSalirPais').change(function () {
            var doc = $(this).children("option:selected").val();
            if (doc == "SI") {
                $("#pasaporte").css("display", "block");
                $("#visa").css("display", "block");
            }
            else {
                $("#pasaporteDentro option:contains(No)").attr('selected', true);
                $("#visaDentro option:contains(No)").attr('selected', true);
                $("#pasaporte").css("display", "none");
                $("#visa").css("display", "none");
            }

        });
        $('#familiaresFuera').change(function () {
            var fam = $(this).children("option:selected").val();
            if (fam == "SI") {
                $("#cuantosFamiliares").css("display", "block");
            }
            else {
                $("#cuantosFamiliares").css("display", "none");
                $("#cuantosFamiliaresDentro").value(0);
            }
        });

        $('#sexo').change(function () {
            var gen = $(this).children("option:selected").val();
            if (gen == "F") {
                $("#embarazo").css("display", "block");
            }
            else {
                $("#embarazo").css("display", "none");
            }
        });

        $('#enfermedad').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#especifiqueEnfermedad").css("display", "block");
                $("#tratamiento").css("display", "block");
            }
            else {
                $("#especifiqueEnfermedad").css("display", "none");
                $("#tratamiento").css("display", "none");
            }

        });
        $('#embarazoLactancia').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#tiempoEmbarazo").css("display", "block");
                $("#tratamiento").css("display", "block");
            }
            else {
                $("#tiempoEmbarazo").css("display", "none");
                $("#tratamiento").css("display", "none");
            }

        });
        $('#discapacidad').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#especifiqueDiscapacidad").css("display", "block");
            }
            else {
                $("#especifiqueDiscapacidad").css("display", "none");
            }

        });
        $('#servicioMedico').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#especifiqueServicioMedico").css("display", "block");
                $("#institucionServicioMedico").css("display", "block");
            }
            else {
                $("#especifiqueServicioMedico").css("display", "none");
                $("#especificaServicioMedico").css("display", "none");
            }

        });

        $('#AFDependencia').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#AFDependenciaExplica").css("display", "block");
            }
            else {
                $("#AFDependenciaExplica").css("display", "none");
            }

        });

        $('#AFVivenJuntos').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#AFDireccionFamiliar").css("display", "block");
            }
            else {
                $("#AFDireccionFamiliar").css("display", "none");
            }

        });

        $('#AFEnteradoProceso').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#AFPuedeEnterarse").css("display", "block");
            }
            else {
                $("#AFPuedeEnterarse").css("display", "none");
            }

        });

        $('#FEEnteradoProceso').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#FEPuedeEnterarse").css("display", "block");
            }
            else {
                $("#FEPuedeEnterarse").css("display", "none");
            }

        });

        //#endregion
    });



    $(document).ready(function () {
        $('#btnGuardarSustancia').on("click", function (e) {
            e.preventDefault();
            //alert("tipo: " + tipo);
            var s = document.getElementById("sustancia");
            var f = document.getElementById("frecuenciaS");
            var sustancia = s.options[s.selectedIndex].value;
            var frecuencia = f.options[f.selectedIndex].value;
            var cantidad = document.getElementById("cantidadS").value;
            var ultimoC = document.getElementById("ultimoConsumo").value;
            var observaciones = document.getElementById("observacionesConsumo").value;
            var user = document.getElementById("usuario").firstChild.nodeValue;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/guardarSustancia",
                traditional: true,
                data: {
                    datosConsumo: [sustancia, frecuencia, cantidad, ultimoC, observaciones, user],
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getElementById("sustancia").value = 'ALCOHOL';
                        document.ready = document.getElementById("frecuenciaS").value = 'DIARIO';
                        document.ready = document.getElementById("cantidadS").value = '';
                        document.ready = document.getElementById("ultimoConsumo").value = '';
                        document.ready = document.getElementById("observacionesConsumo").value = '';
                        var otraSustancia = confirm("¿Consume alguna otra sustancia?");
                        if (otraSustancia == true) {
                            alert("Coloque los datos correspondientes a la nueva susutancia");
                        } else {
                            $("#modalConsumoSustancias").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
    });

    $(document).ready(function () {
        $('#btnGuardarFamiliar').on("click", function (e) {
            e.preventDefault();
            var r = document.getElementById("AFRelacion");
            var g = document.getElementById("AFSexo");
            var d = document.getElementById("AFDependencia");
            var v = document.getElementById("AFVivenJuntos");
            var p = document.getElementById("AFEnteradoProceso");
            var e = document.getElementById("AFPuedeEnterarseO");

            var nombre = document.getElementById("AFNombre").value;
            var relacion = r.options[r.selectedIndex].value; /////////////////
            var edad = document.getElementById("AFEdad").value;
            var sexo = g.options[g.selectedIndex].value; /////////////////
            var dependencia = d.options[d.selectedIndex].value;/////////////////
            var explicaDependencia = document.getElementById("AFDependenciaExplicaO").value;
            var vivenJuntos = v.options[v.selectedIndex].value;/////////////////
            var direccion = document.getElementById("AFDireccionFamiliarO").value;
            var telefono = document.getElementById("AFtelefonoFamiliar").value;
            var horarioLocalizacion = document.getElementById("AFLocalizacion").value;
            var enteradoProceso = p.options[p.selectedIndex].value;/////////////////
            var puedeEnterarse = e.options[e.selectedIndex].value;/////////////////
            var observaciones = document.getElementById("AFobservacionesConsumo").value;
            var user = document.getElementById("usuario").firstChild.nodeValue;




            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/guardarFamiliar",
                traditional: true,
                data: {
                    datosFamiliar: [nombre, relacion, edad, sexo, dependencia, explicaDependencia, vivenJuntos, direccion, telefono, horarioLocalizacion, enteradoProceso, puedeEnterarse, observaciones, user],
                    tipoGuardado: tipo,
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getElementById("AFNombre").value = '';
                        document.ready = document.getElementById("AFRelacion").value = 'MAMA';
                        document.ready = document.getElementById("AFEdad").value = '0';
                        document.ready = document.getElementById("AFSexo").value = 'M';
                        document.ready = document.getElementById("AFDependencia").value = 'NO';
                        document.ready = document.getElementById("AFDependenciaExplicaO").value = '';
                        document.ready = document.getElementById("AFVivenJuntos").value = 'SI';
                        document.ready = document.getElementById("AFDireccionFamiliarO").value = '';
                        document.ready = document.getElementById("AFtelefonoFamiliar").value = '';
                        document.ready = document.getElementById("AFLocalizacion").value = '';
                        document.ready = document.getElementById("AFEnteradoProceso").value = 'SI';
                        document.ready = document.getElementById("AFPuedeEnterarseO").value = 'NA';
                        document.ready = document.getElementById("AFobservacionesConsumo").value = '';
                        $("#AFDependenciaExplica").css("display", "none");
                        $("#AFDireccionFamiliar").css("display", "none");
                        $("#AFPuedeEnterarse").css("display", "none");

                        var otraSustancia = confirm("¿Agregar otra persona?");
                        if (otraSustancia == true) {
                            alert("Coloque los datos correspondientes");
                        } else {
                            $("#modalAsientoFamiliar").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
    });

    $(document).ready(function () {
        $('#btnGuardarFamiliarExtranjero').on("click", function (e) {
            e.preventDefault();
            var r = document.getElementById("FERelacion");
            var g = document.getElementById("FESexo");
            var t = document.getElementById("FETiempo");
            var pa = document.getElementById("FEPais");
            var f = document.getElementById("FEFrecuencia");
            var p = document.getElementById("FEEnteradoProceso");
            var e = document.getElementById("FEPuedeEnterarseO");

            var nombre = document.getElementById("FENombre").value;
            var relacion = r.options[r.selectedIndex].value; /////////////////
            var edad = document.getElementById("FEEdad").value;
            var sexo = g.options[g.selectedIndex].value; /////////////////
            var tiempo = t.options[t.selectedIndex].value;/////////////////
            var pais = pa.options[pa.selectedIndex].value;/////////////////
            var estado = document.getElementById("FEEstado").value;
            var telefono = document.getElementById("FETelefonoFamiliar").value;
            var frecuencia = f.options[f.selectedIndex].value;/////////////////
            var enteradoProceso = p.options[p.selectedIndex].value;/////////////////
            var puedeEnterarse = e.options[e.selectedIndex].value;/////////////////
            var observaciones = document.getElementById("FEobservaciones").value;            
            
            var user = document.getElementById("usuario").firstChild.nodeValue;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/guardarFamiliarExtranjero",
                traditional: true,
                data: {
                    datosFE: [nombre, relacion, edad, sexo, tiempo, pais, estado, telefono, frecuencia, enteradoProceso, puedeEnterarse, observaciones, user],
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getElementById("FENombre").value = '';
                        document.ready = document.getElementById("FERelacion").value = 'MAMA';
                        document.ready = document.getElementById("FEEdad").value = '0';
                        document.ready = document.getElementById("FESexo").value = 'M';
                        document.ready = document.getElementById("FETiempo").value = 'MENOS DE 1 AÑO';
                        document.ready = document.getElementById("FEPais").value = 'MEXICO';
                        document.ready = document.getElementById("FEEstado").value = '';
                        document.ready = document.getElementById("FETelefonoFamiliar").value = '';
                        document.ready = document.getElementById("FEFrecuencia").value = 'DIARIAMENTE';
                        document.ready = document.getElementById("FEEnteradoProceso").value = 'SI';
                        document.ready = document.getElementById("FEPuedeEnterarse").value = 'NA';
                        document.ready = document.getElementById("FEobservaciones").value = '';

                        $("#FEPuedeEnterarse").css("display", "none");

                        var otroFamiliar = confirm("¿Agregar otra persona?");
                        if (otroFamiliar == true) {
                            alert("Coloque los datos correspondientes");
                        } else {
                            $("#modalFamiliaresExtranjero").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
    });


</script>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@ViewBag.Javascript
<h2>Entrevista de encuadre</h2>
<h2 id="usuario">iovanni</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form onsubmit="return confirm('¿Deseas guardar los datos de toda la entrevista');" asp-action="Create">
            <div class="container">
                <div class="panel-group">
                    <div id="datosGenerales" class="panel panel-primary" style="border-color:#fff;">
                        <div class="panel-heading" style="color:#fff; background-color:#0078A7; border-color:#0078A7;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1" onclick="mostrar">Datos Generales</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" style="padding-top:1%;">
                            <div class="form-group col-md-4">
                                <label class="control-label">Nombre (s)</label>
                                <input required name="nombre" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Apellido paterno</label>
                                <input required name="paterno" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Apellido materno</label>
                                <input name="materno" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Alias</label>
                                <input name="alias" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Genero</label>
                                <select required class="form-control" name="sexo" id="sexo">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                    <option value="N">Prefiero no decirlo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Edad</label>
                                <input required name="edad" type="number" value="0" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Fecha de nacimiento</label>
                                <input required name="fNacimiento" type="date" class="form-control" />
                            </div>
                            <div class="form-group col-md-3" id="Pais">
                                <label class="control-label">País</label>
                                <select class="form-control" name="lnPais" id="lnPais">
                                    <option value="MEXICO">México</option>
                                    <option value="ESTADOS UNIDOS">Estados Unidos</option>
                                    <option value="CANADA">Canada</option>
                                    <option value="COLOMBIA">Colombia</option>
                                    <option value="EL SALVADOR">El Salvador</option>
                                    <option value="GUATEMALA">Guatemala</option>
                                    <option value="CHILE">Chile</option>
                                    <option value="OTRO">Otro</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="Estado">
                                <label class="control-label">Estado</label>
                                <select class="form-control" name="lnEstado" id="lnEstado"
                                        asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id","Estado"))">
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="Municipio">
                                <label class="control-label">Municipio</label>
                                <select class="form-control" name="lnMunicipio" id="lnMunicipio"
                                        asp-items="@(new SelectList(string.Empty,"Id","Municipio"))">
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="Localidad">
                                <label class="control-label">Localidad</label>
                                <input name="lnLocalidad" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Estado Civil</label>
                                <select class="form-control" name="estadoCivil">
                                    <option value="Soltero (a)">Soltero (a)</option>
                                    <option value="Casado (a)">Casado (a)</option>
                                    <option value="Union libre">Unión libre</option>
                                    <option value="Viudo (a)">Viudo (a)</option>
                                    <option value="Divorciado (a)">Divorciado (a)</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Duración (estado civil)</label>
                                <input name="duracion" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Habla otro idioma, lengua o dialecto, distinto al español?</label>
                                <select class="form-control" name="otroIdioma">
                                    <option value="No">No</option>
                                    <option value="Si">Si</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Cuál?</label>
                                <input name="especifiqueIdioma" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Sabe leer y escribir?</label>
                                <select class="form-control" name="leerEscribir">
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Requiere de traductor o interprete?</label>
                                <select class="form-control" name="traductor">
                                    <option value="No">No</option>
                                    <option value="Si">Si</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Especificar tipo de traductor</label>
                                <input name="especifiqueTraductor" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Télefono Fijo (10 Dígitos)</label>
                                <input name="telefonoFijo" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Celular (10 Dígitos)</label>
                                <input name="celular" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Tiene hijos?</label>
                                <select class="form-control" name="hijos">
                                    <option value="No">No</option>
                                    <option value="Si">Si</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Cuántos?</label>
                                <input name="nHijos" type="number" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Con cuántas personas vive?</label>
                                <input name="nPersonasVive" id="nPersonasVive" type="number" value="0" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Cuenta con propiedades en otra localidad, municipio y/o en otro estado o país?</label>
                                <select class="form-control" name="propiedades">
                                    <option value="No">No</option>
                                    <option value="Si">Si</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">CURP</label>
                                <input name="CURP" type="text" maxlength="18" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Consume alguna sustancia o droga?</label>
                                <select class="form-control" name="consumoSustancias" id="consumoSustancias">
                                    <option value="No">No</option>
                                    <option value="Si">Si</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Añadir Familiares</label>
                                <select class="form-control" name="AsientoFamiliar" id="AsientoFamiliar">
                                    <option value="No">No</option>
                                    <option value="Si">Si</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Añadir Referencias</label>
                                <select class="form-control" name="ReferenciasPersonales" id="ReferenciasPersonales">
                                    <option value="No">No</option>
                                    <option value="Si">Si</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="datosDomicilio" class="panel panel panel-primary" style="border-color:#fff;">
                        <div class="panel-heading" style="color:#fff; background-color:#415667; border-color:#415667;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2" onclick="mostrar">Domicilio</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" style="padding-top:1%;">
                            <div class="form-group">
                                <label class="control-label">La propiedad del lugar o del inmueble, es:</label>
                                <select required class="form-control" name="tipoDomicilio">
                                    <option value="RENTADA">Rentada</option>
                                    <option value="PRESTADA">Prestada</option>
                                    <option value="PROPIA">Propia</option>
                                    <option value="FAMILIAR">Familiar</option>
                                    <option value="SITACION DE CALLE">Situación de calle</option>
                                    <option value="IRREGULAR">Irregular</option>
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Calle</label>
                                <input required name="calle" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Número</label>
                                <input name="no" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Colonia/Fraccionamiento</label>
                                <input required name="nombreCF" type="text" class="form-control" maxlength="45" />
                            </div>
                            <div class="form-group col-md-4" id="PaisD">
                                <label class="control-label">País</label>
                                <select class="form-control" name="paisD" id="paisD">
                                    <option value="MEXICO">México</option>
                                    <option value="ESTADOS UNIDOS">Estados Unidos</option>
                                    <option value="CANADA">Canada</option>
                                    <option value="COLOMBIA">Colombia</option>
                                    <option value="EL SALVADOR">El Salvador</option>
                                    <option value="GUATEMALA">Guatemala</option>
                                    <option value="CHILE">Chile</option>
                                    <option value="OTRO">Otro</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4" id="EstadoD">
                                <label class="control-label">Estado</label>
                                <select class="form-control" name="estadoD" id="estadoD"
                                        asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id","Estado"))">
                                </select>
                            </div>
                            <div class="form-group col-md-4" id="MunicipioD">
                                <label class="control-label">Municipio</label>
                                <select class="form-control" name="municipioD" id="municipioD"
                                        asp-items="@(new SelectList(string.Empty,"Id","Municipio"))">
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">¿Cuánto tiempo ha vivido en este domicilio?</label>
                                <select required class="form-control" name="temporalidad">
                                    <option value="MAS DE 10 AÑOS">Más de 10 años</option>
                                    <option value="ENTRE 5 Y 10 AÑOS">Entre 5 y 10 años</option>
                                    <option value="ENTRE 2 Y 5 AÑOS">Entre 2 y 5 años</option>
                                    <option value="ENTRE 6 MESES Y 2 AÑOS">Entre 6 meses y 2 años</option>
                                    <option value="MENOS DE 6 MESES">Menos de 6 meses</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">¿Este domicilio es su residencia habitual?</label>
                                <select required class="form-control" name="residenciaHabitual">
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Código Postal</label>
                                <input name="cp" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label" for="referencias">Referencias para ubicar su domicilio</label>
                                <textarea required maxlength="300" class="form-control" rows="3" name="referencias" id="referencias"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label" for="horario">Días y horario en que se encuentra en el domicilio:</label>
                                <textarea required maxlength="100" class="form-control" rows="3" name="horario" id="horario"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label" for="observaciones">Observaciones</label>
                                <textarea maxlength="400" class="form-control" rows="5" name="observaciones" id="observaciones"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Cuenta con domicilio secundario?</label>
                                <select required class="form-control" name="cuentaDomicilioSecundario" id="cuentaDomicilioSecundario">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                        </div>
                        <!-- Modal Domicilio Secundario -->
                        <div class="modal fade" id="modalDomicilioSecundario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#415667;">
                                        <h5 class="modal-title" style="font-size: 30px; color:#fff;">Domicilio Secundario</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="control-label">Motivo del domicilio secundario</label>
                                            <input name="motivoDS" maxlength="100" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">La propiedad del lugar o del inmueble, es:</label>
                                            <select class="form-control" name="tipoDomicilioDS">
                                                <option value="RENTADA">Rentada</option>
                                                <option value="PRESTADA">Prestada</option>
                                                <option value="PROPIA">Propia</option>
                                                <option value="FAMILIAR">Familiar</option>
                                                <option value="SITACION DE CALLE">Situación de calle</option>
                                                <option value="IRREGULAR">Irregular</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label class="control-label">Calle</label>
                                            <input name="calleDS" type="text" class="form-control" max="200" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="control-label">Número</label>
                                            <input name="noDS" type="text" class="form-control" maxlength="100" />
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label class="control-label">Colonia/Fraccionamiento</label>
                                            <input name="nombreCFDS" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-4" id="PaisDDS">
                                            <label class="control-label">País</label>
                                            <select class="form-control" name="paisDDS" id="paisDDS">
                                                <option value="MEXICO">México</option>
                                                <option value="ESTADOS UNIDOS">Estados Unidos</option>
                                                <option value="CANADA">Canada</option>
                                                <option value="COLOMBIA">Colombia</option>
                                                <option value="EL SALVADOR">El Salvador</option>
                                                <option value="GUATEMALA">Guatemala</option>
                                                <option value="CHILE">Chile</option>
                                                <option value="OTRO">Otro</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4" id="EstadoDDS">
                                            <label class="control-label">Estado</label>
                                            <select class="form-control" name="estadoDDS" id="estadoDDS"
                                                    asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id","Estado"))">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4" id="MunicipioDDS">
                                            <label class="control-label">Municipio</label>
                                            <select class="form-control" name="municipioDDS" id="municipioDDS"
                                                    asp-items="@(new SelectList(string.Empty,"Id","Municipio"))">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label">¿Cuánto tiempo ha vivido en este domicilio?</label>
                                            <select class="form-control" name="temporalidadDS">
                                                <option value="MAS DE 10 AÑOS">Más de 10 años</option>
                                                <option value="ENTRE 5 Y 10 AÑOS">Entre 5 y 10 años</option>
                                                <option value="ENTRE 2 Y 5 AÑOS">Entre 2 y 5 años</option>
                                                <option value="ENTRE 6 MESES Y 2 AÑOS">Entre 6 meses y 2 años</option>
                                                <option value="MENOS DE 6 MESES">Menos de 6 meses</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label">¿Este domicilio es su residencia habitual?</label>
                                            <select class="form-control" name="residenciaHabitualDS">
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Código Postal</label>
                                            <input name="cpDS" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="referencias">Referencias para ubicar su domicilio</label>
                                            <textarea maxlength="300" class="form-control" rows="3" name="referenciasDS" id="referenciasDS"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="horario">Días y horario en que se encuentra en el domicilio:</label>
                                            <textarea maxlength="100" class="form-control" rows="3" name="horarioDS" id="horarioDS"></textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="observaciones">Observaciones</label>
                                            <textarea maxlength="300" class="form-control" rows="3" name="observacionesDS" id="observaciones"></textarea>
                                            <small class="form-text text-muted">En caso de tener un 3er domicilio anotarlo aquí</small>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#415667; color:#fff">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="datosEscolaridad" class="panel panel panel-primary" style="border-color:#fff;">
                        <div class="panel-heading" style="color:#fff; background-color:#848F95; border-color:#848F95;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse3" onclick="mostrar">Escolaridad</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" style="padding-top:1%;">
                            <div class="form-group col-md-3">
                                <label class="control-label">¿Actualmente estudia?</label>
                                <select required class="form-control" name="estudia">
                                    <option value="SI">Si</option>
                                    <option value="NO">No</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Último grado de estudios</label>
                                <select required class="form-control" name="gradoEstudios">
                                    <option value="PRIMARIA">Primaria</option>
                                    <option value="SECUNDARIA">Secundaria</option>
                                    <option value="BACHILLERATO">Bachillerato</option>
                                    <option value="TSU">TSU</option>
                                    <option value="LICENCIATURA">Licenciatura</option>
                                    <option value="MAESTRÍA">Maestría</option>
                                    <option value="DOCTORADO">Doctorado</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Nombre de la institución donde realiza(ó) sus estudios</label>
                                <input maxlength="150" name="institucionE" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Horarios:</label>
                                <input maxlength="100" name="horarioE" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Dirección</label>
                                <input maxlength="150" name="direccionE" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Teléfono (10 dígitos)</label>
                                <input maxlength="10" id="telefonoEscuela" name="telefonoE" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="observaciones">Observaciones</label>
                                <textarea maxlength="200" class="form-control" rows="2" name="observacionesE" id="observaciones"></textarea>
                            </div>

                        </div>
                    </div>
                    <div id="datosTrabajo" class="panel panel panel-primary" style="border-color:#fff;">
                        <div class="panel-heading" style="color:#fff; background-color:#80AEAB; border-color:#80AEAB;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse4" onclick="mostrar">Trabajo</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" style="padding-top:1%;">
                            <div class="form-group col-md-4">
                                <label class="control-label">¿Trabaja actualmente?</label>
                                <select required class="form-control" name="trabaja">
                                    <option value="SI">Si</option>
                                    <option value="NO">No</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label">Tipo de ocupación</label>
                                <select required class="form-control" name="tipoOcupacion">
                                    <option value="NA">NA</option>
                                    <option value="FUNCIONARIO, DIRECTOR Y JEFE">Funcionarios, directores y jefes</option>
                                    <option value="PROFESIONISTA O TÉCNICO">Profesionistas y técnicos </option>
                                    <option value="TRABAJADORES AUXILIARES EN ACTIVIDADES ADMINISTRATIVAS">Trabajadores auxiliares en actividades administrativas</option>
                                    <option value="COMERCIANTES, EMPLEADOS DE VENTA Y AGENTES DE VENTAS">Comerciantes, empleados en ventas y agentes de ventas</option>
                                    <option value="TRABAJADORES EN SERVICIOS PERSONALES Y VIGILANCIA">Trabajadores en servicios personales y vigilancia</option>
                                    <option value="TRABAJADORES EN ACTIVIDADES AGRICOLAS, GANADERAS, FORESTALES, CAZA Y PESCA">Trabajadores en actividades agrícolas, ganaderas, forestales, caza y pesca</option>
                                    <option value="TRABAJADORES ARTESANALES">Trabajadores artesanales </option>
                                    <option value="OPERADORES DE MAQUINARIA INDUSTRIAL, ENSAMBLADORES, CHOFERES Y CONDUCTORES DE TRANSPORTE">Operadores de maquinaria industrial, ensambladores, choferes y conductores de transporte </option>
                                    <option value="TRABAJADORES EN ACTIVIDADES ELEMENTALES Y DE APOYO">Trabajadores en actividades elementales y de apoyo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Puesto</label>
                                <input maxlength="45" name="puesto" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Empleador/Jefe inmediato</label>
                                <input maxlength="150" name="empleadorJefe" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Esta enterado(a) de su proceso penal?</label>
                                <select class="form-control" name="enteradoProceso">
                                    <option value="NA">NA</option>
                                    <option value="SI">Si</option>
                                    <option value="NO">No</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Se puede enterar?</label>
                                <select class="form-control" name="sePuedeEnterar">
                                    <option value="NA">NA</option>
                                    <option value="SI">Si</option>
                                    <option value="NO">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Tiempo</label>
                                <select required class="form-control" name="tiempoTrabajando">
                                    <option value="MAS DE 10 AÑOS">Más de 10 años</option>
                                    <option value="ENTRE 2 Y 5 AÑOS">Entre 5 y 9 años</option>
                                    <option value="ENTRE 2 Y 4 AÑOS">Entre 2 y 4 años</option>
                                    <option value="MAS DE UN AÑO Y MENOS DE 2">Más de un año menos de 2</option>
                                    <option value="ENTRE 6 MESES Y 1 AÑO">Entre 6 meses y 1 año</option>
                                    <option value="MENOS DE 6 MESES">Menos de 6 meses</option>
                                    <option value="SIN TRABAJO DURANTE MENOS DE 3 MESES">Tiene menos de 3 meses sin actividad laboral</option>
                                    <option value="SIN TRABAJO DURANTE MAS DE 3 MESES">Tiene más de 3 meses sin actividad laboral</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Salario ($)</label>
                                <input maxlength="45" name="salario" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Cada cuando le pagan</label>
                                <select class="form-control" name="temporalidadSalario">
                                    <option value="NA">NA</option>
                                    <option value="DIARIO">Diario</option>
                                    <option value="SEMANAL">Semanal</option>
                                    <option value="QUINCENAL">Quincenal</option>
                                    <option value="MENSUAL">Mensual</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Dirección</label>
                                <input maxlength="150" name="direccionT" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Horario de trabajo:</label>
                                <input maxlength="100" name="horarioT" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Teléfono (10 dígitos)</label>
                                <input maxlength="10" name="telefonoT" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="observaciones">Observaciones</label>
                                <textarea maxlength="300" class="form-control" rows="2" name="observacionesT" id="observacionesT"></textarea>
                                <small class="form-text text-muted">En caso de que no trabaje o que tenga un segundo trabajo anotarlo aquí</small>
                            </div>

                        </div>
                    </div>
                    <div id="datosSociales" class="panel panel panel-primary" style="border-color:#fff;">
                        <div class="panel-heading" style="color:#fff; background-color:#233460; border-color:#233460;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse5" onclick="mostrar">Actividades Sociales</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" style="padding-top:1%;">
                            <div class="form-group col-md-6">
                                <label class="control-label">Tipo de actividad</label>
                                <input maxlength="150" name="tipoActividad" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Horario:</label>
                                <input maxlength="100" name="horarioAS" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Lugar donde realiza su actividad</label>
                                <input maxlength="100" name="lugarAS" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Teléfono (10 dígitos)</label>
                                <input maxlength="10" name="telefonoAS" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">¿Alguién se puede enterar de su proceso penal?</label>
                                <select required class="form-control" name="sePuedeEnterarAS">
                                    <option value="NA">NA</option>
                                    <option value="SI">Si</option>
                                    <option value="NO">No</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Especificar persona de referencia</label>
                                <input maxlength="100" name="referenciaAS" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="observacionesAS">Observaciones</label>
                                <textarea maxlength="300" class="form-control" rows="2" name="observacionesAS" id="observacionesAS"></textarea>
                                <small class="form-text text-muted">En caso de tener alguna otra actividad mencionarlo aquí</small>
                            </div>
                        </div>
                    </div>
                    <div id="datosAbandonoEstado" class="panel panel panel-primary" style="border-color:#000;">
                        <div class="panel-heading" style="color:#000; background-color:#fff; border-color:#fff;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse6" onclick="mostrar">Viajes fuera del Estado</a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" style="padding-top:1%;">
                            <div class="form-group">
                                <label class="control-label">¿Ha vivido en otro estado o país?</label>
                                <select required class="form-control" name="vividoFuera" id="vividoFuera">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group" style="display:none" id="lugaresVivido">
                                <label class="control-label">Si ha vivido fuera especificar que lugares</label>
                                <textarea maxlength="200" class="form-control" rows="2" name="lugaresVivido" id="lugaresVividoDentro"></textarea>
                            </div>
                            <div class="form-group" style="display:none" id="tiempoVivido">
                                <label class="control-label">Tiempo que vivio en esos lugares</label>
                                <input maxlength="100" name="tiempoVivido" id="tiempoVividoDentro" type="text" class="form-control" />
                            </div>
                            <div class="form-group" style="display:none" id="motivoVivido">
                                <label class="control-label">Motivo</label>
                                <textarea maxlength="200" class="form-control" rows="2" name="motivoVivido" id="motivoVividoDentro"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Viaja habitualmente a otros estados o países?</label>
                                <select required class="form-control" name="viajaHabitual" id="viajaHabitual">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group" style="display:none" id="lugaresViaje">
                                <label class="control-label">Si viaja frecuentemente especificar a que lugares viaja</label>
                                <textarea maxlength="200" class="form-control" rows="2" name="lugaresViaje"></textarea>
                            </div>
                            <div class="form-group" style="display:none" id="tiempoViaje">
                                <label class="control-label">¿Cada cuanto viaja a esos lugares?</label>
                                <input maxlength="100" name="tiempoViaje" type="text" class="form-control" />
                            </div>
                            <div class="form-group" style="display:none" id="motivoViaje">
                                <label class="control-label">Motivo por el que viaja</label>
                                <textarea maxlength="200" class="form-control" rows="2" name="motivoViaje"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Cuenta con documentación oficial para entrar y salir de país?</label>
                                <select required class="form-control" name="documentaciónSalirPais" id="documentacionSalirPais">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group" id="pasaporte" style="display:none">
                                <label class="control-label">¿Cuenta con pasaporte?</label>
                                <select required class="form-control" name="pasaporte" id="pasaporteDentro">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group" id="visa" style="display:none">
                                <label class="control-label">¿Cuenta con visa?</label>
                                <select required class="form-control" name="visa" id="visaDentro">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Tiene familiares cercanos o amistades residiendo en otro estado o país con los que mantenga comunicación estrecha?</label>
                                <select required class="form-control" name="familiaresFuera" id="familiaresFuera">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            @*<div class="form-group" style="display:none" id="cuantosFamiliares">
                                <label class="control-label">¿Cuántos familiares?</label>
                                <input name="cuantosFamiliares" type="number" class="form-control" value="0" id="cuantosFamiliaresDentro" />
                            </div>*@
                        </div>
                    </div>
                    <div id="datosSalud" class="panel panel panel-primary" style="border-color:#fff;">
                        <div class="panel-heading" style="color:#fff; background-color:#3D7F99; border-color:#3D7F99;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse7" onclick="mostrar">Salud</a>
                            </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" style="padding-top:1%;">
                            <div class="form-group">
                                <label class="control-label">¿Tiene alguna enfermedad crónica ó degerenativa que dificulte su comparecencia?</label>
                                <select required class="form-control" name="enfermedad" id="enfermedad">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group" style="display:none" id="especifiqueEnfermedad">
                                <label class="control-label">Especifique la enfermedad</label>
                                <textarea maxlength="100" class="form-control" rows="2" name="especifiqueEnfermedad"></textarea>
                            </div>
                            <div class="form-group" id="embarazo" style="display:none">
                                <label class="control-label">¿Está embarazada o en período de lactancia?</label>
                                <select required class="form-control" name="embarazoLactancia" id="embarazoLactancia">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group" style="display:none" id="tiempoEmbarazo">
                                <label class="control-label">Tiempo de embarazo o lactancia</label>
                                <input maxlength="100" name="tiempoEmbarazo" type="text" class="form-control" />
                            </div>
                            <div class="form-group" style="display:none" id="tratamiento">
                                <label class="control-label">Tratamiento médico indicado</label>
                                <textarea maxlength="200" class="form-control" rows="2" name="tratamiento"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Tiene alguna condición física que requiera cuidados especiales?</label>
                                <select required class="form-control" name="discapacidad" id="discapacidad">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group" style="display:none" id="especifiqueDiscapacidad">
                                <label class="control-label">Específique la discapacidad</label>
                                <input maxlength="100" class="form-control" type="text" name="especifiqueDiscapacidad" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">¿Cuenta con servicio médico?</label>
                                <select required class="form-control" name="servicioMedico" id="servicioMedico">
                                    <option value="NO">No</option>
                                    <option value="SI">Si</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" id="especifiqueServicioMedico" style="display:none;">
                                <label class="control-label">¿Qupe tipo de servicio tiene?</label>
                                <select class="form-control" name="especifiqueServicioMedico">
                                    <option value="NA">NA</option>
                                    <option value="SEGURO MEDICO">Seguro Médico</option>
                                    <option value="DERECHO HABIENTE">Derecho habiente</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" id="institucionServicioMedico" style="display:none;">
                                <label class="control-label">Institución prestadora de servicio</label>
                                <select required class="form-control" name="institucionServicioMedico">
                                    <option value="NA">NA</option>
                                    <option value="IMSS">IMSS</option>
                                    <option value="ISSSTE">ISSSTE</option>
                                    <option value="SEGURO POPULAR">Seguro Popular</option>
                                    <option value="MILITAR">Militar</option>
                                    <option value="OTRO">Otro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="observacionesSalud">Observaciones</label>
                                <textarea maxlength="200" class="form-control" rows="2" name="observacionesSalud"></textarea>
                                <small class="form-text text-muted">Observaciones</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar Registro" class="btn btn-default" />
            </div>
        </form>
    </div>


</div>



<!-- Modal Consumo de sustancias Secundario -->
<div class="modal fade" id="modalConsumoSustancias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Consumo de sustancias</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label class="control-label">Sustancia</label>
                    <select class="form-control" name="sustancia" id="sustancia">
                        <option value="ALCOHOL">Alcohol</option>
                        <option value="MARIHUANA">Marihuana</option>
                        <option value="COCAINA">Cocaína</option>
                        <option value="HEROINA">Heroína</option>
                        <option value="PVC">PVC</option>
                        <option value="SOLVENTES">Solventes</option>
                        <option value="FARMACOS">Fármacos</option>
                        <option value="CEMENTO">Cemento</option>
                        <option value="CRACK">Crack</option>
                        <option value="ACIDOS">Ácidos</option>
                        <option value="TABACO">Tabaco</option>
                        <option value="METANFETAMINAS">Metanfetaminas</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Sustancia</label>
                    <select class="form-control" name="frecuenciaS" id="frecuenciaS">
                        <option value="DIARIO">Diario</option>
                        <option value="SEMANAL">Semanal</option>
                        <option value="QUINCENAL">Quincenal</option>
                        <option value="MENSUAL">Mensual</option>
                        <option value="BIMESTRAL">Bimestral</option>
                        <option value="TRIMESTRAL">Trimestral</option>
                        <option value="SEMESTRAL">Semestral</option>
                        <option value="ANUAL">Anual</option>
                        <option value="OCASIONALMENTE">Ocasionalmente</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Cantidad</label>
                    <input class="form-control" maxlength="200" name="cantidadS" type="text" id="cantidadS" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Último consumo</label>
                    <input required name="ultimoConsumo" id="ultimoConsumo" type="date" class="form-control" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="observaciones">Observaciones</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="observacionesConsumo" id="observacionesConsumo"></textarea>
                    <small class="form-text text-muted">Poner aclaraciones de la sustancia que consume y si selecciono otra sustancia en opciones especificar la sustancia.</small>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarSustancia" name="btnGuardarSustancia">Guardar sustancia</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Aiento Familiar -->
<div class="modal fade" id="modalAsientoFamiliar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;" id="textoAFR"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" maxlength="150" name="AFNombre" type="text" id="AFNombre" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Relación</label>
                    <select class="form-control" name="AFRelacion" id="AFRelacion">
                        <option value="MAMA">Máma</option>
                        <option value="PAPA">Pápa</option>
                        <option value="ESPOSO (A)">Esposo(a)</option>
                        <option value="HERMANO (A)">Hermano(a)</option>
                        <option value="HIJO (A)">Hijo(a)</option>
                        <option value="ABUELO (A)">Abuelo(a)</option>
                        <option value="FAMILIAR 1 NIVEL">Familiar 1 nivel</option>
                        <option value="AMIGO">Amigo</option>
                        <option value="CONOCIDO">Conocido</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Edad</label>
                    <input class="form-control" value="0" name="AFEdad" type="text" id="AFEdad" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Genero</label>
                    <select required class="form-control" name="AFSexo" id="AFSexo">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="N">Prefiero no decirlo</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Depende en algo de él?</label>
                    <select required class="form-control" name="AFDependencia" id="AFDependencia">
                        <option value="NO">No</option>
                        <option value="SI">Si</option>
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFDependenciaExplica">
                    <label class="control-label" for="AFDependenciaExplica">Explicar en que depende de él y cada cuanto</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="AFDependenciaExplica" id="AFDependenciaExplicaO"></textarea>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Vive con él?</label>
                    <select required class="form-control" name="AFVivenJuntos" id="AFVivenJuntos">
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFDireccionFamiliar">
                    <label class="control-label">Dirección</label>
                    <input class="form-control" maxlength="200" name="AFDireccionFamiliar" id="AFDireccionFamiliarO" type="text" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Teléfono (10 dígitos)</label>
                    <input name="AFtelefonoFamiliar" id="AFtelefonoFamiliar" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="AFDependenciaExplica">Días y horarios en que se encuentra</label>
                    <textarea maxlength="200" class="form-control" rows="2" name="AFLocalizacion" id="AFLocalizacion"></textarea>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Enterado de su proceso penal?</label>
                    <select required class="form-control" name="AFEnteradoProceso" id="AFEnteradoProceso">
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFPuedeEnterarse">
                    <label class="control-label">¿Se puede enterar?</label>
                    <select required class="form-control" name="AFPuedeEnterarse" id="AFPuedeEnterarseO">
                        <option value="NA">NA</option>
                        <option value="NO">No</option>
                        <option value="SI">Si</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="AFobservaciones">Observaciones</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="AFobservacionesConsumo" id="AFobservacionesConsumo"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarFamiliar" name="btnGuardarFamiliar">Guardar Familiar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Familiares en el extranjero -->
<div class="modal fade" id="modalFamiliaresExtranjero" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color:#000; background-color:#fff; border-color:#fff;">
                <h5 class="modal-title" style="font-size: 30px; color:#000;">Familiar en el extranjero</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" maxlength="150" name="FENombre" type="text" id="FENombre" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Edad</label>
                    <input class="form-control" value="0" name="FEEdad" type="text" id="FEEdad" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Genero</label>
                    <select required class="form-control" name="FESexo" id="FESexo">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="N">Prefiero no decirlo</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Relación</label>
                    <select class="form-control" name="FERelacion" id="FERelacion">
                        <option value="MAMA">Máma</option>
                        <option value="PAPA">Pápa</option>
                        <option value="HERMANO (A)">Hermano(a)</option>
                        <option value="HIJO (A)">Hijo(a)</option>
                        <option value="ABUELO (A)">Abuelo(a)</option>
                        <option value="FAMILIAR 1 NIVEL">Familiar 1 nivel</option>
                        <option value="AMIGO">Amigo</option>
                        <option value="CONOCIDO">Conocido</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Tiempo de conocerlo</label>
                    <select class="form-control" name="FETiempo" id="FETiempo">
                        <option value="MENOS DE 1 AÑO">Menos de un año</option>
                        <option value="ENTRE 1 Y 2 AÑOS">Entre 1 y 2 años</option>
                        <option value="ENTRE 2 Y 5 AÑOS">Entre 2 y 5 años(a)</option>
                        <option value="MÁS DE 5 AÑOS">Más de 5 años</option>
                        <option value="TODA LA VIDA">Toda la vida</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">País</label>
                    <select class="form-control" name="FEPais" id="FEPais">
                        <option value="MEXICO">México</option>
                        <option value="ESTADOS UNIDOS">Estados Unidos</option>
                        <option value="CANADA">Canada</option>
                        <option value="COLOMBIA">Colombia</option>
                        <option value="EL SALVADOR">El Salvador</option>
                        <option value="GUATEMALA">Guatemala</option>
                        <option value="CHILE">Chile</option>
                        <option value="OTRO">Otro</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <input class="form-control" maxlength="70" name="FEEstado" type="text" id="FEEstado" />
                </div>
                <div class="form-group">
                    <label class="control-label">Teléfono (10 dígitos)</label>
                    <input name="FETelefonoFamiliar" id="FETelefonoFamiliar" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Frecuencia de contacto</label>
                    <select class="form-control" name="FEFrecuencia" id="FEFrecuencia">
                        <option value="DIARIAMENTE">Diariamente</option>
                        <option value="UNA VEZ A LA SEMANA">Una vez a la semana</option>
                        <option value="UNA VEZ CADA 15 DIAS">Una vez cada 15 días</option>
                        <option value="UNA VEZ AL MES">Una vez al mes</option>
                        <option value="UNA VEZ AL AÑO">Una vez al año</option>
                        <option value="OTRO">Otro</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">¿Enterado de su proceso penal?</label>
                    <select required class="form-control" name="FEEnteradoProceso" id="FEEnteradoProceso">
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                </div>
                <div class="form-group" style="display:none;" id="FEPuedeEnterarse">
                    <label class="control-label">¿Se puede enterar?</label>
                    <select required class="form-control" name="FEPuedeEnterarse" id="FEPuedeEnterarseO">
                        <option value="NA">NA</option>
                        <option value="NO">No</option>
                        <option value="SI">Si</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="FEobservaciones">Observaciones</label>
                    <textarea maxlength="200" class="form-control" rows="2" name="FEobservaciones" id="FEobservaciones"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" style="background-color:#fff; color:#000; border-color:#000;" id="btnGuardarFamiliarExtranjero" name="btnGuardarFamiliarExtranjero">Guardar familiar</button>
            </div>
        </div>
    </div>
</div>



<div>
    <a asp-action="Index">Regresar a lista de usuarios</a>
</div>

