@model scorpioweb.Models.Persona

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fnacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fnacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lnpais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lnpais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lnestado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lnestado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lnmunicipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lnmunicipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lnlocalidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lnlocalidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtroIdioma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtroIdioma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EspecifiqueIdioma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecifiqueIdioma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatosGeneralescol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatosGeneralescol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeerEscribir)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeerEscribir)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Traductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Traductor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EspecifiqueTraductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EspecifiqueTraductor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoFijo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoFijo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hijos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hijos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nhijos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nhijos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NpersonasVive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NpersonasVive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Propiedades)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Propiedades)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsumoSustancias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsumoSustancias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UltimaActualización)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UltimaActualización)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPersona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
