@model scorpioweb.Models.Persona

@{
    ViewData["Title"] = "MenuEdicion";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/tabla.css">


    <h2 class="blockquote text-center" style="padding-top:3%;">@Model.Paterno @Model.Materno @Model.Nombre</h2>


<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6" style="padding-top:3%;">
            <a asp-action="Edit" asp-route-id="@Model.IdPersona" id="datosGenerales" class="btn btn-primary btn-lg btn-block btn-huge">Datos Generales</a>
        </div>
        <div class="col-md-6" style="padding-top:3%;">
            <a asp-action="EditDomicilio" asp-route-nombre="@Model.Paterno @Model.Materno @Model.Nombre" asp-route-id="@Model.IdPersona" id="domicilio" class="btn btn-primary btn-lg btn-block btn-huge">Domicilio</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top:3%;">
            <a asp-action="EditEscolaridad" asp-route-nombre="@Model.Paterno @Model.Materno @Model.Nombre" asp-route-id="@Model.IdPersona" id="escolaridad"class="btn btn-primary btn-lg btn-block btn-huge">Escolaridad</a>
        </div>
        <div class="col-md-6" style="padding-top:3%;">
            <a id="trabajo" class="btn btn-primary btn-lg btn-block btn-huge">Trabajo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top:3%;">
            <a id="actividadesSociales" class="btn btn-primary btn-lg btn-block btn-huge">Actividades Sociales</a>
        </div>
        <div class="col-md-6" style="padding-top:3%;">
            <a id="abandonoEstado" class="btn btn-primary btn-lg btn-block btn-huge">Viajes fuera del Estado</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top:3%;">
            <a id="salud" class="btn btn-primary btn-lg btn-block btn-huge">Salud</a>
        </div>
    </div>
</div>

<br />
<a asp-action="Index" style="font-size:20px;">Regresar a lista de usuarios</a>
